@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid black;
    width: 800px;
    height: 500px;
    display: flex; 
}

.container-form{
    border: 2px solid rgb(0, 255, 38);
    width: 100%;
}